

@media  only screen and (min-width:768px) and (min-height:1024px)  {
    .navBar1 img{
        width: 120px;
        height: 30px;
        
    }


    .navHome,.navBar1,.navBar3{
        margin-top:20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .navBar1{
        position: relative;
        left:-106px;
    }
    .navBar2     {
        display: flex;
        text-decoration: none;
        gap:60px;
        display: none;
    }.navBar2 li a{
        text-decoration: none;
        color: aliceblue;
    }
    .navBar2 li {
        list-style-type: none;
        
    }
    .menuToggle{
        display: none;
    }
    li a span{
        padding-left: 5px;
        position: relative;
        top:-2px;
    }
    .navBar3 {
        position: relative;
        left: 94px;
    }
    .signup{
        border-radius: 15px;
        width: 124px;
        height: 40px;
        color:black;
        background-color: rgb(247, 247, 108);        
    }
    .content1{
        font-size: 60px;
        color: yellow;
        width: 80px;
        height: 100px;
        position: relative;
        left: 339px;
        margin-top: 76px;
    }
    .content2{
        color: aliceblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100px;
        margin-top: 57px;
        margin-left: 80px;
    }
    .point1{
        font-size: 40px;
        width: 608px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    .point2{
        font-size: 22px;
        text-align: center;
        width: 487px;
        opacity: 0.8;
        padding-top: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .imageContent{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top:312px;
        height: 105px;
    }
    .image1{
        width: 200px;
        height: 150px;
        position: relative;
       left:0px;
       top:-759px
    }
    .image2{
        width: 273px;
        height: 66px;
        position: relative;
        top:-124px;
        left:53px;
    }
    .image3{
        width: 309px;
        height: 100px;
        position: relative;
        top: -178px;
        right: 3px;
    }
}

